In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('/content/ads.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
dtypes: int64(4)
memory usage: 12.6 KB

In [ ]:
data.head()

    User ID  Age  EstimatedSalary  Purchased
0  15624510   19            19000          0
1  15810944   35            20000          0
2  15668575   26            43000          0
3  15603246   27            57000          0
4  15804002   19            76000          0

In [ ]:
#feature scaling
#decision trees based on logarithms
#check features and make sure in same range(logarithm or distance based measures)

In [ ]:
Min=min(data['Age'])
Max=max(data['Age'])
range=Max-Min
print(range)

42

In [ ]:
#standard scalar , min max scaler
#x-mean/std(SS)
#

In [ ]:
df=data[['Age','EstimatedSalary']]
df

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [ ]:
df

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [ ]:
x=df['Age']
df['Age1']=(x.min(x)/x.max(x)-x.min(x))
df['std_age']=x-x.mean()/x.std()

In [ ]:
#binning->converting contin values to a standardized value
#required when creating graphs ->convert numeric cols to discrete variable

pd.cut(data['Age'],bins=[17,30,45,61]) #bin1=17-30,bin2=30-45,...

0      (17, 30]
1      (30, 45]
2      (17, 30]
3      (17, 30]
4      (17, 30]
         ...
395    (45, 61]
396    (45, 61]
397    (45, 61]
398    (30, 45]
399    (45, 61]
Name: Age, Length: 400, dtype: category
Categories (3, interval[int64, right]): [(17, 30] < (30, 45] < (45, 61]]

In [ ]:
pd.cut(data['Age'],bins=[17,30,45,61],labels=['youth','mid-age','adult']) #no.of labels is 1 less than no of bins specified

0        youth
1      mid-age
2        youth
3        youth
4        youth
        ...
395      adult
396      adult
397      adult
398    mid-age
399      adult
Name: Age, Length: 400, dtype: category
Categories (3, object): ['youth' < 'mid-age' < 'adult']

In [ ]:
data['Age_cat']=pd.cut(data['Age'],bins=[17,30,45,61],labels=['youth','mid-age','adult'],ordered=False)

In [ ]:
data['Sal']=pd.cut(data['EstimatedSalary'],bins=[10000,20000,30000,35000,40000],labels=[''])

In [ ]:
#pivot table
#col should be categorical in nature
pd.pivot_table(data,columns='Age_cat',values='EstimatedSalary',index='Purchased',aggfunc=(np.mean))

Age_cat            youth        mid-age         adult
Purchased
0           57742.857143   61145.985401  74666.666667
1          124333.333333  104979.591837  73261.363636

In [ ]:
#encoding
#categorical encoding(or label encoding) , OHE
#label->numerical vals to a categorical values  according to hierarchy
data['Age_cat'].cat.codes

0      0
1      1
2      0
3      0
4      0
      ..
395    2
396    2
397    2
398    1
399    2
Length: 400, dtype: int8

In [ ]:
df=pd.get_dummies(data['Age_cat']) #OHE

In [ ]:
pd.concat([data,df],axis=1)

      User ID  Age  EstimatedSalary  Purchased  Age_cat  youth  mid-age  adult
0    15624510   19            19000          0    youth      1        0      0
1    15810944   35            20000          0  mid-age      0        1      0
2    15668575   26            43000          0    youth      1        0      0
3    15603246   27            57000          0    youth      1        0      0
4    15804002   19            76000          0    youth      1        0      0
..        ...  ...              ...        ...      ...    ...      ...    ...
395  15691863   46            41000          1    adult      0        0      1
396  15706071   51            23000          1    adult      0        0      1
397  15654296   50            20000          1    adult      0        0      1
398  15755018   36            33000          0  mid-age      0        1      0
399  15594041   49            36000          1    adult      0        0      1

[400 rows x 8 columns]